.main-nav__list {
  list-style: none;
}

.main-nav__link {
  color: @black;
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: @black-hover;
}

.main-nav__link:active {
  color: @black-visited;
}
